{% extends 'watch/base.html' %}
{% load static %}
{% block home %}
<div class="row style">
    <div class="container-fluid col-sm-6 sty mb-5 my-5 p-4 json offset-1"><h1>GREATE BEAUTIFULL WATCHES</h1><br></br>
        <h2>"TIME is too much precious for every person."</h2><br></br>
        <h2>"Don't waste your TIMES."</h2>

    </div>
    <div class="col-sm-5 mb-3 p-2"><img src="{% static 'images/gifwatch.gif' %}" width="80%" height="100%" alt="" srcset=""></div>
    
    
</div>

<div class="row mb-5 my-5">
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/img7.jpg' %}" alt="" srcset="">
        <h4>PKR 12,000/=</h4>
        <h4>Made By Audemars Piguet.</h4>
        <a href="{% url 'selling' 1 %}" class="btn btn-warning">Shop Now</a>
    </div>
    <div class="col-sm-4 text-center ">
        <img src="{% static 'images/img8.jpg' %}" alt="" srcset="">
        <h4>PKR 14,900/= </h4>
        <h4>Made By Vacheron Constantin.</h4>
        <a href="{% url 'selling' 2 %}" class="btn btn-warning">Shop Now</a>
    </div>
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/img9.jpg' %}" alt="" srcset="">
        <h4>PKR 8,900/= </h4>
        <h4>Made By Rolex.</h4>
        <a href="{% url 'selling' 3 %}" class="btn btn-warning">Shop Now</a>
    </div>
</div>

<div class="row mb-5 my-5">
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/img10.jpg' %}" alt="" srcset="">
        <h4>PKR 9,900/= </h4>
        <h4>Made By Jaeger-LeCoultre.</h4>
        <a href="{% url 'selling' 4 %}" class="btn btn-warning">Shop Now</a>
    </div>
    <div class="col-sm-4 text-center ">
        <img src="{% static 'images/img11.jpg' %}" alt="" srcset="">
        <h4>PKR 7,900/= </h4>
        <h4>Made By Patek Philippe.</h4>
        <a href="{% url 'selling' 5 %}" class="btn btn-warning">Shop Now</a>
    </div>
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/img15.jpg' %}" alt="" srcset="">
        <h4>PKR 7,500/=</h4>
        <h4>Made By Blancpain.</h4>
        <a href="{% url 'selling' 6 %}" class="btn btn-warning">Shop Now</a>
    </div>
</div>
<div class="row mb-5 my-5">
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/img2.jpg' %}" alt="" srcset="">
        <h4>PKR 8,900/=</h4>
        <h4>Made By Blancpain.</h4>
        <a href="{% url 'selling' 7 %}" class="btn btn-warning">Shop Now</a>
    </div>
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/img5.jpg' %}" alt="" srcset="">
        <h4>PKR 10,900/=</h4>
        <h4>Made By Blancpain.</h4>
        <a href="{% url 'selling' 8 %}" class="btn btn-warning">Shop Now</a>
    </div>
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/img6.jpg' %}" alt="" srcset="">
        <h4>PKR 15,900/= </h4>
        <h4>Made By Chopard.</h4>
        <a href="{% url 'selling' 9 %}" class="btn btn-warning">Shop Now</a>
    </div>
</div>

<div class="font mb-5 my-5">
    <a href="{% url 'morepic' %}" class="btn btn-primary">Show more picture ... </a>
</div>
<footer class="font mb-5 my-5">
    <p>Made by Akash Ahmad</p>
    
  </footer>


{% endblock home %}

