{% extends 'watch/base.html' %}
{% load static %}
{% block home %}
<div class="row style">
    <div class="container-fluid col-sm-7 sty mb-5 my-5 p-4 json"><h1>GREATE BEAUTIFULL WATCHES</h1><br></br>
        <h2>"TIME is too much precious for every person."</h2><br></br>
        <h2>"Don't waste your TIMES."</h2>

    </div>
    <div class="col-sm-5"><img src="{% static 'images/gifwatch.gif' %}" width="80%" height="100%" alt="" srcset=""></div>
    
</div>

<div class="row mb-5 my-5">
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/img7.jpg' %}" alt="" srcset="">
        <h4>this is a beautifull watch and i like if very much os i take it fomr </h4>
        <a href="{% url 'form' %}" class="btn btn-warning">Shop Now</a>
    </div>
    <div class="col-sm-4 text-center ">
        <img src="{% static 'images/img8.jpg' %}" alt="" srcset="">
        <h4>this is a beautifull watch and i like if very much os i take it fomr </h4>
        <a href="{% url 'form' %}" class="btn btn-warning">Shop Now</a>
    </div>
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/img9.jpg' %}" alt="" srcset="">
        <h4>this is a beautifull watch and i like if very much os i take it fomr </h4>
        <a href="{% url 'form' %}" class="btn btn-warning">Shop Now</a>
    </div>
</div>

<div class="row mb-5 my-5">
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/img10.jpg' %}" alt="" srcset="">
        <h4>this is a beautifull watch and i like if very much os i take it fomr </h4>
        <a href="{% url 'form' %}" class="btn btn-warning">Shop Now</a>
    </div>
    <div class="col-sm-4 text-center ">
        <img src="{% static 'images/img11.jpg' %}" alt="" srcset="">
        <h4>this is a beautifull watch and i like if very much os i take it fomr </h4>
        <a href="{% url 'form' %}" class="btn btn-warning">Shop Now</a>
    </div>
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/img15.jpg' %}" alt="" srcset="">
        <h4>this is a beautifull watch and i like if very much os i take it fomr </h4>
        <a href="{% url 'form' %}" class="btn btn-warning">Shop Now</a>
    </div>
</div>
<div class="row mb-5 my-5">
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/img2.jpg' %}" alt="" srcset="">
        <h4>this is a beautifull watch and i like if very much os i take it fomr </h4>
        <a href="{% url 'form' %}" class="btn btn-warning">Shop Now</a>
    </div>
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/img5.jpg' %}" alt="" srcset="">
        <h4>this is a beautifull watch and i like if very much os i take it fomr </h4>
        <a href="{% url 'form' %}" class="btn btn-warning">Shop Now</a>
    </div>
    <div class="col-sm-4 text-center">
        <img src="{% static 'images/img6.jpg' %}" alt="" srcset="">
        <h4>this is a beautifull watch and i like if very much os i take it fomr </h4>
        <a href="{% url 'form' %}" class="btn btn-warning">Shop Now</a>
    </div>
</div>

<div class="font mb-5 my-5">
    <a href="{% url 'morepic' %}" class="btn btn-primary">Show more picture ... </a>
</div>


{% endblock home %}

