{% extends 'watch/base.html' %}
{% block data %}
<div class="comfort">
    <form action="" method="post">
        <img src="{{ image.img.url }}" alt="Image"> 
        <h1 class="text-warning">Thanks Dear {{name|title}},</h1>
        <h3>Your order will be reached in 3 day successfully.</h3>
        <h3>first you chack the Watch then give the money to delivery man.</h3>
        <h3>If you feel any problem in watch contack with me with out any hisitate.</h3>
    </form>

</div>
{% endblock data %}