{% extends 'watch/base.html' %}
{% load static %}
{% block data %}
<section class="h-100 bg">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0 bg ">
              <div class="col-sm-12">
                <p class="h4 mb-6"><h1 class="mb-4 p-5 blink">CASH ON DELIVERY</h1></p>
              </div>
              <div class="col-xl-6 d-none d-xl-block p-5 mt-5">
                <img src="https://images.pexels.com/photos/2155319/pexels-photo-2155319.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6">

                <form action="" method="POST">
                  {% csrf_token %}
                <div class="card-body p-md-5 text-black">
                  <h1 class="mb-5 text-uppercase"><span class="p-2 bg-primary">Information form</span></h1>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="id_first_name">First Name</label>
                        <input type="text" name="first_name"  maxlength="70" required id="id_first_name" class="form-control form-control-lg" />
                        <!--<input type="text" name="first_name" maxlength="70" required id="id_first_name">-->
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="id_last_name">Last Name</label>
                        <input type="text" name="last_name" maxlength="80"  required id="id_last_name" class="form-control form-control-lg" />
                        
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="id_father_name">Father's Name</label>
                        <input type="text" name="father_name" maxlength="90" required id="id_father_name" class="form-control form-control-lg" />
                    
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="id_cnic">CNIC Number</label>
                        <input type="number" name="cnic" required id="id_cnic" class="form-control form-control-lg" />
                        
                      </div>
                    </div>
                  </div>
  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="id_address">Address</label>
                    <input type="text" name="address" maxlength="300" required id="id_address" class="form-control form-control-lg" />
                    
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="id_city">City</label>
                    <input type="text" name="city" maxlength="30" required id="id_city" class="form-control form-control-lg" />
                    
                  </div>
                  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="id_email">Email ID</label>
                    <input type="email" name="email" required id="id_email"  class="form-control form-control-lg" />
                    
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="id_phone">Phone Number</label>
                    <input type="number" name="phone" required id="id_phone" class="form-control form-control-lg" />
                    
                  </div>
                </form>
                  <button type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock data %}