
.style{ 
        font-style: oblique;
        background-color: black;
    
    }
.sty{
            text-align: center;
            background-color: darkslategray;
            color: rgb(250, 248, 248);
        }
.font{
    text-align: center;
}
body{
    background-color: rgb(189, 183, 235);
}
.json{
    background-color: rgb(30, 0, 85);
    color: whitesmoke;
}
.desine{
    text-align: center;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

.blink {
    animation: blinker 3s linear infinite;
    background-color: red;
    text-align: center;
    color: white;
      }
    
    @keyframes blinker {
        50% {
          opacity: 0;
        }
      }

.comfort{
    text-align: center;
    color: whitesmoke;
    background-color: blue;
    
    }
.bg{
    background-color: rgb(125, 163, 163);
}